<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial with Flask</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
        <h1>Tip Forecasting</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Total Bill" placeholder="Total bill" required="required" />
        <input type="text" name="Gender" placeholder="0 - Female 1 - Male" required="required" />
		<input type="text" name="Size" placeholder="Size of people" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict tip </button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>